body { 
	margin: 0; 
	padding: 0; 
	font-family: sans-serif; 
} 

.container { 
	width: 100%; 
	height: 100vh; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	text-align: center; 
	flex-direction: column; 
} 

h1{ 
	font-size: 25px; 
	font-weight: 700; 
	margin-bottom: 20px; 
	color: green; 
} 

h3
{ 
	font-size: 20px; 
	font-weight: 700; 
	margin: -10px 0 20px; 
} 
#form { 
	padding: 10px 20px; 
	margin: 10px; 
	background-color: white; 
	border-radius: 10px; 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
} 

#score { 
	font-size: 18px; 
	text-align: right; 
	font-weight: 700; 
	color: green; 
} 

#question { 
	color: green; 
	font-weight: 700; 
	font-size: 25px; 
} 

#inp { 
	color: green; 
	border: 3px solid green; 
	border-radius: 5px; 
	padding: 15px 0; 
	margin: 10px 0px; 
	display: block; 
	width: 100%; 
	box-sizing: border-box; 
	font-size: 15px; 
	font-weight: 700; 
	text-align: center; 
	outline: none; 
} 

#inp::placeholder { 
	color: green; 
} 

#btn { 
	background-color: green; 
	outline: none; 
	border: none; 
	border-radius: 5px; 
	padding: 15px 0; 
	margin: 10px 0px; 
	display: block; 
	width: 100%; 
	box-sizing: border-box; 
	font-size: 18px; 
	font-weight: 700; 
	text-align: center; 
	color: white; 
	letter-spacing: 1px; 
}
